html {
    height: 100vh;
  }
  
  body {
    background: #000;
    font-family: 'Poppins', sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  canvas {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
  }
  #more_content,
  #initial_content,
  .title_block {
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
  }
  .title_block {
    background-color: green;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .item {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .roadmap {
    color: #242424;
    background-color: #ffffff;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    padding: 10px;
    padding-top: 4rem;
  }
  .roadmap h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  .roadmap h2 {
    font-style: italic;
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .item_qs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
  }
  .q1,
  .q2,
  .q3,
  .q4 {
    color: #242424;
    background-color: #ff5f5f;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }
  .list_q {
    padding: 10px 30px;
  }
  .list_q, li {
    text-align: left;
  }