tr.nieuw td{
  font-weight: bold;
}

tr.disabled td{
  color: #888;
}

tr.enabled td{
  color: #444;
}

.notebookchildselect:hover .personname:after{
  content:' \25BC';
}

.personblock:hover .personname:after{
  content:' \25BC';
}